---
import { Image } from 'astro:assets';
import logo from '@/assets/logo-cappuccino-assassino.png';
---

<aside class="md:w-80 md:h-screen border-r border-gray-200">
  <div class="flex justify-center p-5">
    <Image src={logo} alt="logo cappuccino assassino" class="w-24 h-auto" />
  </div>
</aside>
